body {
    background-color: gray;
}

.question {
    /* position: absolute; */
    top: 50px;
  }

  .HS {
      text-align: left;
  }


@media screen and (max-width: 768px) {
    .row {
        margin: 0 auto;
    }
}